@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gusto-Bold';
    src: url('../Fonts/Gusto-Bold.ttf') format('truetype');
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    background-image: url('../Images/rm_contentbg.svg');
    background-color: #fafae0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form-container {
    background: #fafae0;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    border: 8px solid #bc6c25;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container {
    margin-bottom: 10px;
}

.logo {
    max-width: 100px;
}

.forgot-logo-container {
    text-align: center;
    margin-bottom: 1px;
}


.forgot_logo {
    max-width: 100%; 
    height: auto;
    width: 100px; 
    animation: fadeInLogo 1s ease-out; 
}

.title-container {
    text-align: center;
}

.title-image {
    max-width: 80%;
    height: auto;
    object-fit: contain;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

input[type="email"], input[type="password"] {
    font-family: 'Montserrat-Regular', sans-serif;
    padding: 10px;
    border: 3px solid #bc6c25;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.revealed-password {
    font-family: 'Montserrat-Regular', sans-serif;
    padding: 10px;
    border: 3px solid #bc6c25;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.input-field:hover,
.input-field:focus {
    border: 3px solid #dda15e;
    outline: none;
}

.input-field::placeholder {
    font-family: 'Montserrat-Regular', sans-serif;
}

.login-button {
    padding: 10px;
    background-color: #bc6c25;
    color: white;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    margin-bottom: -15px;
}

.login-button:hover {
    color: #fafae0;
    background: #dda15e;
}

.signup-text {
    color: #2B2414;
    text-align: center;
    margin-top: 10px;
}

.signup-text a {
    color: #bc6c25;
    text-decoration: none;
    font-weight: bolder;
}

.signup-text a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 30px; 
}

.password-container i {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #bc6c25; 
    font-size: 1rem;
    cursor: pointer; 
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password-link {
    color: #bc6c25; 
    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat-Regular', sans-serif;
}

.forgot-password-link:hover {
    text-decoration: underline;
    color: #dda15e;
}

.send-button {
    padding: 10px;
    background-color: #bc6c25;
    color: white;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: -15px;
}

.send-button:hover {
    color: #fafae0;
    background: #dda15e;
}

.forgot {
    display: block;
    margin: 10px auto 20px auto;
    max-width: 90%;
    height: auto; 
}

.reset {
    display: block;
    margin: 10px auto 23px auto; 
    max-width: 87%; 
    height: auto;
}

.reset-button {
    padding: 10px;
    background-color: #bc6c25;
    color: white;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 5px;
    display: block; 
}

.reset-button:hover {
    color: #fafae0;
    background: #dda15e;
}

@keyframes zoomOutSpin {
    0% {
        transform: scale(2) rotate(0deg); 
        opacity: 0;
    }
    50% {
        opacity: 1; 
    }
    100% {
        transform: scale(1) rotate(360deg); 
        opacity: 1; 
    }
}

.logo {
    animation: zoomOutSpin 2s ease-out; 
    animation-fill-mode: forwards;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .form-header {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
    }

    .login-form-container {
        max-width: 80%; 
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
}

#countdown-timer {
    font-size: 14px;
    color: red;
    font-family: 'Montserrat-Medium', sans-serif;
}

.signup-text {
    color: #bc6c25;
    text-align: center;
    margin-top: 10px;
}

.signup-text a {
    color: #bc6c25;
    text-decoration: none;
    font-weight: bolder;
}

.signup-text a:hover {
    text-decoration: underline;
}